
body{
  background-color: #EAF6F6;

}

hr{

  border-style:dotted none none;
  border-color: grey;
  border-width:10px;




   width:10%;
}
img{
  height: 95%;
  width: 95%;

}
h1{
  color: #66BFBF;
}
h3{
  color:#66BFBF;
}
